@import 'bambora_ui_variables';

.dropdown-nav#region-switcher {

    height: 43px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #9197a3;

    &:after { // dropdown arrow 
        top: 15px;
        border-bottom: 4px solid #9197a3;
        border-right: 4px solid #9197a3;
    }

    ul {
        min-width: 150px;
    }
}

// styles for region switcher on landing page (transparent nav)
.nav-pane-transparent {
    .dropdown-nav#region-switcher {

        color: $lightest;

        &:after {
            border-bottom: 4px solid $lightest;
            border-right: 4px solid $lightest;
        }
    }
}