<div class="dropdown-nav dropdown-open-on-hover" role="navigation" 
id="region-switcher">
    North America
    <ul role="menu">
        
        <li role="menuitem">
            <a href="https://developer.bambora.com/apac" class="not-new-tab-for-link">
                Asia-Pacific
            </a>
        </li>

        <li role="menuitem">
            <a href="https://developer.bambora.com/europe" class="not-new-tab-for-link">
                Europe
            </a>
        </li>
    </ul>
</div>