swagger: '2.0'
info:
  version: "2016-08-18"
  title: Onboarding API
  description: Onboarding API Specifications
host: onboardingapi.beanstream.com
basePath: /v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  api_key:
    type: apiKey
    name: api_key
    in: header
    description: 'Pass the Authorization header in your request as "Authorization: Token INSERT_KEY_HERE. Contact Beanstream to get an API Key generated for you if you don''t have one.'
paths:
# SEPA-EUR WORKFLOW
  '/workflows/sepa-eur/applications':
    post:
      tags:
        - Funds Transfer (SEPA-EUR)
      operationId: createSepaEurApplication
      description: |
        Creates a new SEPA-EUR application. The state of the application will be returned in a successful request. The response will include an application id that should be used for all future requests to that application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: application
          in: body
          description: 'SEPA-EUR application details'
          required: true
          schema:
            $ref: '#/definitions/SepaEurApplicationRequest'
      responses:
        201:
          description: 'Application created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Funds Transfer (SEPA-EUR)
      operationId: getSepaEurApplications
      description: |
        Retrieves all applications referenced by the given criteria URL encoded in the query string.

          - state
            - *Accepted values are "in\_progress", "in\_review", "on\_hold", "approved" and "rejected"*
          - pricing\_id
          - company\_name\_contains
          - applicant\_first\_name\_contains
          - business\_country
          - applicant\_first\_name

        Documents file data will be excluded to limit the amount of data on the wire.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: state
          in: query
          description: 'Application state to search for'
          required: false
          type: string
        - name: pricing_id
          in: query
          description: 'Pricing id to search for'
          required: false
          type: string
        - name: company_name_contains
          in: query
          description: 'Company name contains'
          required: false
          type: string
        - name: applicant_first_name_contains
          in: query
          description: 'Applicant first name contains'
          required: false
          type: string
        - name: business_country
          in: query
          description: 'Company country'
          required: false
          type: string
        - name: applicant_first_name
          in: query
          description: 'Applicant first name'
          required: false
          type: string
      responses:
        200:
          description: 'Application(s) retrieved'
          schema:
           type: array
           items:
            $ref: '#/definitions/SepaEurApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/sepa-eur/applications/{applicationId}':
    put:
      tags:
        - Funds Transfer (SEPA-EUR)
      operationId: updateSepaEurApplication
      description: |
        Updates a SEPA-EUR application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to update'
          type: integer
        - name: application
          in: body
          description: 'SEPA-EUR Application details'
          required: true
          schema:
            $ref: '#/definitions/SepaEurApplicationRequest'
      responses:
        200:
          description: 'Application updated'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Funds Transfer (SEPA-EUR)
      operationId: getSepaEurApplication
      description: |
        Retrieves a SEPA-EUR application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to retrieve'
          type: string
      responses:
        200:
          description: 'Application retrieved'
          schema:
            $ref: '#/definitions/SepaEurApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/sepa-eur/applications/{applicationId}/documents':
    post:
      tags:
        - Funds Transfer (SEPA-EUR)
      operationId: createSepaEurApplicationDocuments
      description: |
        Creates a SEPA-EUR application document for the referenced applicationId. Returns the status of the application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to create a document in'
          type: integer
        - name: document
          in: body
          description: 'Document details'
          required: true
          schema:
            $ref: '#/definitions/SepaEurFile'
      responses:
        200:
          description: 'Document created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request data or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/sepa-eur/applications/{applicationId}/documents/{documentName}.{documentType}':
    get:
      tags:
        - Funds Transfer (SEPA-EUR)
      operationId: getSepaEurApplicationDocuments
      description: |
       Retrieve a SEPA-EUR application document for the referenced applicationId, documentName and documentType.  The content type of the response returned will depend on the documentType passed into the path.
      produces:
        - image/png
        - image/jpeg
        - application/pdf
        - application/msword
        - application/vnd.openxmlformats-officedocument.wordprocessingml.document
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to get the document from'
          type: integer
        - name: documentName
          in: path
          required: true
          description: 'The name of the document to get'
          type: string
          enum: ["copy_id", "void_cheque", "bank_statement", "certificate", "registration", "board_members", "mandate"]
        - name: documentType
          in: path
          required: true
          description: 'The type of the document to get'
          type: string
          enum: ["jpg", "jpeg", "doc", "docx", "pdf", "png"]
      responses:
        200:
          description: 'Document retrieved successfully'
          schema:
            type: file
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Document not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: 'Unexpected error or application not found'
  '/workflows/sepa-eur/applications/{applicationId}/documents/{documentName}':
    delete:
      tags:
        - Funds Transfer (SEPA-EUR)
      operationId: deleteSepaEurApplicationDocuments
      description: |
        Deletes a SEPA-EUR application document for the referenced applicationId and documentName. Returns the status of the application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to delete the document from'
          type: integer
        - name: documentName
          in: path
          required: true
          description: 'The name of the document to delete'
          type: string
          enum: ["copy_id", "void_cheque", "bank_statement", "certificate", "registration", "board_members", "mandate"]
      responses:
        204:
          description: 'Document deleted successfully'
        400:
          description: 'Invalid document id or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Document not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: 'Unexpected error or application not found'

#BACS GBP WORKFLOW
  '/workflows/bacs-gbp/applications':
    post:
      tags:
        - Funds Transfer (BACS-GBP)
      operationId: createBacsGbpApplication
      description: |
        Creates a new BACS-GBP application. The state of the application will be returned in a successful request. The response will include an application id that should be used for all future requests to that application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: application
          in: body
          description: 'BACS-GBP Application details'
          required: true
          schema:
            $ref: '#/definitions/BacsGbpApplicationRequest'
      responses:
        201:
          description: 'Application created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Funds Transfer (BACS-GBP)
      operationId: getBacsGbpApplications
      description: |
        Retrieves all applications referenced by the given criteria URL encoded in the query string.

          - state
            - *Accepted values are "in\_progress", "in\_review", "on\_hold", "approved" and "rejected"*
          - pricing\_id
          - company\_name\_contains
          - applicant\_first\_name\_contains
          - business\_country
          - applicant\_first\_name

        Documents file data will be excluded to limit the amount of data on the wire.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: state
          in: query
          description: 'Application state to search for'
          required: false
          type: string
        - name: pricing_id
          in: query
          description: 'Pricing id to search for'
          required: false
          type: string
        - name: company_name_contains
          in: query
          description: 'Company name contains'
          required: false
          type: string
        - name: applicant_first_name_contains
          in: query
          description: 'Applicant first name contains'
          required: false
          type: string
        - name: business_country
          in: query
          description: 'Company country'
          required: false
          type: string
        - name: applicant_first_name
          in: query
          description: 'Applicant first name'
          required: false
          type: string
      responses:
        200:
          description: 'Application(s) retrieved'
          schema:
           type: array
           items:
            $ref: '#/definitions/BacsGbpApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/bacs-gbp/applications/{applicationId}':
    put:
      tags:
        - Funds Transfer (BACS-GBP)
      operationId: updateBacsGbpApplication
      description: |
        Updates a BACS-GBP application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to update'
          type: integer
        - name: application
          in: body
          description: 'BACS-GBP Application details'
          required: true
          schema:
            $ref: '#/definitions/BacsGbpApplicationRequest'
      responses:
        200:
          description: 'Application updated'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Funds Transfer (BACS-GBP)
      operationId: getBacsGbpApplication
      description: |
        Retrieves a BACS-GBP application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to retrieve'
          type: string
      responses:
        200:
          description: 'Application retrieved'
          schema:
            $ref: '#/definitions/BacsGbpApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/bacs-gbp/applications/{applicationId}/documents':
    post:
      tags:
        - Funds Transfer (BACS-GBP)
      operationId: createBacsGbpApplicationDocuments
      description: |
        Creates a BACS-GBP application document for the referenced applicationId. Returns the status of the application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to create a document in'
          type: integer
        - name: document
          in: body
          description: 'Document details'
          required: true
          schema:
            $ref: '#/definitions/BacsGbpFile'
      responses:
        200:
          description: 'Document created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request data or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/bacs-gbp/applications/{applicationId}/documents/{documentName}.{documentType}':
    get:
      tags:
        - Funds Transfer (BACS-GBP)
      operationId: getBacsGbpApplicationDocuments
      description: |
        Get a BACS-GBP application document for the referenced applicationId, documentName and documentType.  The content type of the response returned will depend on the documentType passed into the path.
      produces:
        - image/png
        - image/jpeg
        - application/pdf
        - application/msword
        - application/vnd.openxmlformats-officedocument.wordprocessingml.document
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to get the document from'
          type: integer
        - name: documentName
          in: path
          required: true
          description: 'The name of the document to get'
          type: string
          enum: ["copy_id", "void_cheque", "bank_statement", "certificate", "registration", "board_members", "direct_debit"]
        - name: documentType
          in: path
          required: true
          description: 'The type of the document to get'
          type: string
          enum: ["jpg", "jpeg", "doc", "docx", "pdf", "png"]
      responses:
        200:
          description: 'Document retrieved successfully'
          schema:
            type: file
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Document not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: 'Unexpected error or application not found'
  '/workflows/bacs-gbp/applications/{applicationId}/documents/{documentName}':
    delete:
      tags:
        - Funds Transfer (BACS-GBP)
      operationId: deleteBacsGbpApplicationDocuments
      description: |
        Deletes a BACS-GBP application document for the referenced applicationId and documentName. Returns the status of the application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to delete the document from'
          type: integer
        - name: documentName
          in: path
          required: true
          description: 'The name of the document to delete'
          type: string
          enum: ["copy_id", "void_cheque", "bank_statement", "certificate", "registration", "board_members", "direct_debit"]
      responses:
        204:
          description: 'Document deleted successfully'
        400:
          description: 'Invalid document id or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Document not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: 'Unexpected error or application not found'

# ACH USD WORKFLOW
  '/workflows/ach-usd/applications':
    post:
      tags:
        - Funds Transfer (ACH-USD)
      operationId: createAchUsdApplication
      description: |
        Creates a new ACH-USD application. The state of the application will be returned in a successful request. The response will include an application id that should be used for all future requests to that application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: application
          in: body
          description: 'ACH-USD Application details'
          required: true
          schema:
            $ref: '#/definitions/AchUsdApplicationRequest'
      responses:
        201:
          description: 'Application created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Funds Transfer (ACH-USD)
      operationId: getAchUsdApplications
      description: |
        Retrieves all applications referenced by the given criteria URL encoded in the query string.

          - state
            - *Accepted values are "in\_progress", "in\_review", "on\_hold", "approved" and "rejected"*
          - pricing\_id
          - company\_name\_contains
          - applicant\_first\_name\_contains
          - business\_country
          - applicant\_first\_name

        Documents file data will be excluded to limit the amount of data on the wire.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: state
          in: query
          description: 'Application state to search for'
          required: false
          type: string
        - name: pricing_id
          in: query
          description: 'Pricing id to search for'
          required: false
          type: string
        - name: company_name_contains
          in: query
          description: 'Company name contains'
          required: false
          type: string
        - name: applicant_first_name_contains
          in: query
          description: 'Applicant first name contains'
          required: false
          type: string
        - name: business_country
          in: query
          description: 'Company country'
          required: false
          type: string
        - name: applicant_first_name
          in: query
          description: 'Applicant first name'
          required: false
          type: string
      responses:
        200:
          description: 'Application(s) retrieved'
          schema:
           type: array
           items:
            $ref: '#/definitions/AchUsdApplicationResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/ach-usd/applications/{applicationId}':
    put:
      tags:
        - Funds Transfer (ACH-USD)
      operationId: updateAchUsdApplication
      description: |
        Updates an ACH-USD application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to update'
          type: integer
        - name: application
          in: body
          description: 'ACD-USD Application details'
          required: true
          schema:
            $ref: '#/definitions/AchUsdApplicationRequest'
      responses:
        200:
          description: 'Application updated'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Funds Transfer (ACH-USD)
      operationId: getAchUsdApplication
      description: |
        Retrieves an ACH-USD application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to retrieve'
          type: string
      responses:
        200:
          description: 'Application retrieved'
          schema:
            $ref: '#/definitions/AchUsdApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/ach-usd/applications/{applicationId}/documents':
    post:
      tags:
        - Funds Transfer (ACH-USD)
      operationId: createAchUsdApplicationDocuments
      description: |
        Creates an ACH-USD application document for the referenced applicationId. Returns the status of the application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to create a document in'
          type: integer
        - name: document
          in: body
          description: 'Document details'
          required: true
          schema:
            $ref: '#/definitions/AchUsdFile'
      responses:
        200:
          description: 'Document created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request data or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/ach-usd/applications/{applicationId}/documents/{documentName}.{documentType}':
    get:
      tags:
        - Funds Transfer (ACH-USD)
      operationId: getAchUsdApplicationDocuments
      description: |
        Get an ACH-USD application document for the referenced applicationId, documentName and documentType. The content type of the response returned will depend on the documentType passed into the path.
      produces:
        - image/png
        - image/jpeg
        - application/pdf
        - application/msword
        - application/vnd.openxmlformats-officedocument.wordprocessingml.document
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to get the document from'
          type: integer
        - name: documentName
          in: path
          required: true
          description: 'The name of the document to get'
          type: string
          enum: ["copy_id", "void_cheque", "bank_statement", "certificate", "registration", "board_members"]
        - name: documentType
          in: path
          required: true
          description: 'The type of the document to get'
          type: string
          enum: ["jpg", "jpeg", "doc", "docx", "pdf", "png"]
      responses:
        200:
          description: 'Document retrieved successfully'
          schema:
            type: file
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Document not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: 'Unexpected error or application not found'
  '/workflows/ach-usd/applications/{applicationId}/documents/{documentName}':
    delete:
      tags:
        - Funds Transfer (ACH-USD)
      operationId: deleteAchUsdApplicationDocuments
      description: |
        Deletes an ACH-USD application document for the referenced applicationId and documentName. Returns the status of the application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to delete the document from'
          type: integer
        - name: documentName
          in: path
          required: true
          description: 'The name of the document to delete'
          type: string
          enum: ["copy_id", "void_cheque", "bank_statement", "certificate", "registration", "board_members"]
      responses:
        204:
          description: 'Document deleted successfully'
        400:
          description: 'Invalid document id or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Document not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: 'Unexpected error or application not found'

# EFT CAD WORKFLOW
  '/workflows/eft-cad/applications':
    post:
      tags:
        - Funds Transfer (EFT-CAD)
      operationId: createEftCadApplication
      description: |
        Creates a new EFT-CAD application. The state of the application will be returned in a successful request. The response will include an application id that should be used for all future requests to that application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: application
          in: body
          description: 'EFT-CAD Application details'
          required: true
          schema:
            $ref: '#/definitions/EftCadApplicationRequest'
      responses:
        201:
          description: 'Application created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Funds Transfer (EFT-CAD)
      operationId: getEftCadApplications
      description: |
        Retrieves all applications referenced by the given criteria URL encoded in the query string.

          - state
            - *Accepted values are "in\_progress", "in\_review", "on\_hold", "approved" and "rejected"*
          - pricing\_id
          - company\_name\_contains
          - applicant\_first\_name\_contains
          - business\_country
          - applicant\_first\_name

        Documents file data will be excluded to limit the amount of data on the wire.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: state
          in: query
          description: 'Application state to search for'
          required: false
          type: string
        - name: pricing_id
          in: query
          description: 'Pricing id to search for'
          required: false
          type: string
        - name: company_name_contains
          in: query
          description: 'Company name contains'
          required: false
          type: string
        - name: applicant_first_name_contains
          in: query
          description: 'Applicant first name contains'
          required: false
          type: string
        - name: business_country
          in: query
          description: 'Company country'
          required: false
          type: string
        - name: applicant_first_name
          in: query
          description: 'Applicant first name'
          required: false
          type: string
      responses:
        200:
          description: 'Application(s) retrieved'
          schema:
           type: array
           items:
            $ref: '#/definitions/EftCadApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Applications not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/eft-cad/applications/{applicationId}':
    put:
      tags:
        - Funds Transfer (EFT-CAD)
      operationId: updateEftCadApplication
      description: |
        Updates a EFT-CAD application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to update'
          type: integer
        - name: application
          in: body
          description: 'EFT-CAD application details'
          required: true
          schema:
            $ref: '#/definitions/EftCadApplicationRequest'
      responses:
        200:
          description: 'Application updated'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Funds Transfer (EFT-CAD)
      operationId: getEftCadApplication
      description: |
        Retrieves an EFT-CAD application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to retrieve'
          type: string
      responses:
        200:
          description: 'Application retrieved'
          schema:
            $ref: '#/definitions/EftCadApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/eft-cad/applications/{applicationId}/documents':
    post:
      tags:
        - Funds Transfer (EFT-CAD)
      operationId: createEftCadApplicationDocuments
      description: |
        Creates an EFT-CAD application document for the referenced applicationId. Returns the status of the application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to create a document in'
          type: integer
        - name: document
          in: body
          description: 'Document details'
          required: true
          schema:
            $ref: '#/definitions/EftCadFile'
      responses:
        200:
          description: 'Document created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request data or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/eft-cad/applications/{applicationId}/documents/{documentName}.{documentType}':
    get:
      tags:
        - Funds Transfer (EFT-CAD)
      operationId: getEftCadApplicationDocuments
      description: |
        Get an EFT-CAD application document for the referenced applicationId, documentName and documentType.  The content type of the response returned will depend on the documentType passed into the path.
      produces:
        - image/png
        - image/jpeg
        - application/pdf
        - application/msword
        - application/vnd.openxmlformats-officedocument.wordprocessingml.document
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to get the document from'
          type: integer
        - name: documentName
          in: path
          required: true
          description: 'The name of the document to get'
          type: string
          enum: ["copy_id", "void_cheque", "bank_statement", "certificate", "registration", "board_members"]
        - name: documentType
          in: path
          required: true
          description: 'The type of the document to get'
          type: string
          enum: ["jpg", "jpeg", "doc", "docx", "pdf", "png"]
      responses:
        200:
          description: 'Document retrieved successfully'
          schema:
            type: file
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Document not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: 'Unexpected error or application not found'
  '/workflows/eft-cad/applications/{applicationId}/documents/{documentName}':
    delete:
      tags:
        - Funds Transfer (EFT-CAD)
      operationId: deleteEftCadApplicationDocuments
      description: |
        Deletes an EFT-CAD application document for the referenced applicationId and documentName. Returns the status of the application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to delete the document from'
          type: integer
        - name: documentName
          in: path
          required: true
          description: 'The name of the document to delete'
          type: string
          enum: ["copy_id", "void_cheque", "bank_statement", "certificate", "registration", "board_members"]
      responses:
        204:
          description: 'Document deleted successfully'
        400:
          description: 'Invalid document id or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Document not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: 'Unexpected error or application not found'

# PSP CAD WORKFLOW
  '/workflows/psp-cad/applications':
    post:
      tags:
        - Credit Card Payments (PSP-CAD)
      operationId: createPspCadPspApplication
      description: |
        Creates a new PSP-CAD application. The state of the application will be returned in a successful request. The response will include an application id that should be used for all future requests to that application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: application
          in: body
          description: 'PSP-CAD application details'
          required: true
          schema:
            $ref: '#/definitions/PspCadApplicationRequest'
      responses:
        201:
          description: 'Application created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Credit Card Payments (PSP-CAD)
      operationId: getPspCadApplications
      description: |
        Retrieves all applications referenced by the given criteria URL encoded in the query string.

          - state
            - *Accepted values are "in\_progress", "in\_review", "on\_hold", "approved" and "rejected"*
          - pricing\_id
          - company\_name\_contains
          - applicant\_first\_name\_contains
          - business\_country
          - applicant\_first\_name

        Documents file data will be excluded to limit the amount of data on the wire.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: state
          in: query
          description: 'Application state to search for'
          required: false
          type: string
        - name: pricing_id
          in: query
          description: 'Pricing id to search for'
          required: false
          type: string
        - name: company_name_contains
          in: query
          description: 'Company name contains'
          required: false
          type: string
        - name: applicant_first_name_contains
          in: query
          description: 'Applicant first name contains'
          required: false
          type: string
        - name: business_country
          in: query
          description: 'Company country'
          required: false
          type: string
        - name: applicant_first_name
          in: query
          description: 'Applicant first name'
          required: false
          type: string
      responses:
        200:
          description: 'Application(s) retrieved'
          schema:
           type: array
           items:
            $ref: '#/definitions/PspCadApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/psp-cad/applications/{applicationId}':
    put:
      tags:
        - Credit Card Payments (PSP-CAD)
      operationId: updatePspCadApplication
      description: |
        Updates a PSP-CAD application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to update'
          type: integer
        - name: document
          in: body
          description: 'PSP-CAD application details'
          required: true
          schema:
            $ref: '#/definitions/PspCadApplicationRequest'
      responses:
        200:
          description: 'Application updated'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Credit Card Payments (PSP-CAD)
      operationId: getPspCadApplication
      description: |
        Retrieves a PSP-CAD application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to retrieve'
          type: string
      responses:
        200:
          description: 'Application retrieved'
          schema:
            $ref: '#/definitions/PspCadApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
# PSP USD WORKFLOW
  '/workflows/psp-usd/applications':
    post:
      tags:
        - Credit Card Payments (PSP-USD)
      operationId: createPspUsdPspApplication
      description: |
        Creates a new PSP-USD application. The state of the application will be returned in a successful request. The response will include an application id that should be used for all future requests to that application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: application
          in: body
          description: 'PSP-CAD application details'
          required: true
          schema:
            $ref: '#/definitions/PspUsdApplicationRequest'
      responses:
        201:
          description: 'Application created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Credit Card Payments (PSP-USD)
      operationId: getPspUsdApplications
      description: |
        Retrieves all applications referenced by the given criteria URL encoded in the query string.

          - state
            - *Accepted values are "in\_progress", "in\_review", "on\_hold", "approved" and "rejected"*
          - pricing\_id
          - company\_name\_contains
          - applicant\_first\_name\_contains
          - business\_country
          - applicant\_first\_name

        Documents file data will be excluded to limit the amount of data on the wire.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: state
          in: query
          description: 'Application state to search for'
          required: false
          type: string
        - name: pricing_id
          in: query
          description: 'Pricing id to search for'
          required: false
          type: string
        - name: company_name_contains
          in: query
          description: 'Company name contains'
          required: false
          type: string
        - name: applicant_first_name_contains
          in: query
          description: 'Applicant first name contains'
          required: false
          type: string
        - name: business_country
          in: query
          description: 'Company country'
          required: false
          type: string
        - name: applicant_first_name
          in: query
          description: 'Applicant first name'
          required: false
          type: string
      responses:
        200:
          description: 'Application(s) retrieved'
          schema:
           type: array
           items:
            $ref: '#/definitions/PspUsdApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/psp-usd/applications/{applicationId}':
    put:
      tags:
        - Credit Card Payments (PSP-USD)
      operationId: updatePspUsdApplication
      description: |
        Updates a PSP-USD application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to update'
          type: integer
        - name: document
          in: body
          description: 'PSP-USD application details'
          required: true
          schema:
            $ref: '#/definitions/PspUsdApplicationRequest'
      responses:
        200:
          description: 'Application updated'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Credit Card Payments (PSP-USD)
      operationId: getPspUsdApplication
      description: |
        Retrieves a PSP-USD application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to retrieve'
          type: string
      responses:
        200:
          description: 'Application retrieved'
          schema:
            $ref: '#/definitions/PspUsdApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/psp-usd/applications/{applicationId}/documents':
    post:
      tags:
        - Credit Card Payments (PSP-USD)
      operationId: createPspUsdApplicationDocuments
      description: |
        Creates a PSP-USD application document for the referenced applicationId. Returns the status of the application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to create a document in'
          type: integer
        - name: document
          in: body
          description: 'Document details'
          required: true
          schema:
            $ref: '#/definitions/PspUsdFile'
      responses:
        200:
          description: 'Document created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request data or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/psp-usd/applications/{applicationId}/documents/{documentName}.{documentType}':
    get:
      tags:
        - Credit Card Payments (PSP-USD)
      operationId: getPspUsdApplicationDocuments
      description: |
        Get a PSP-USD application document for the referenced applicationId, documentName and documentType.  The content type of the response returned will depend on the documentType passed into the path.
      produces:
        - image/png
        - image/jpeg
        - application/pdf
        - application/msword
        - application/vnd.openxmlformats-officedocument.wordprocessingml.document
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to get the document from'
          type: integer
        - name: documentName
          in: path
          required: true
          description: 'The name of the document to get'
          type: string
          enum: ["id_applicant", "bank_statement", "pci_saq_document"]
        - name: documentType
          in: path
          required: true
          description: 'The type of the document to get'
          type: string
          enum: ["jpg", "jpeg", "doc", "docx", "pdf", "png"]
      responses:
        200:
          description: 'Document retrieved successfully'
          schema:
            type: file
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Document not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: 'Unexpected error or application not found'
  '/workflows/psp-usd/applications/{applicationId}/documents/{documentName}':
    delete:
      tags:
        - Credit Card Payments (PSP-USD)
      operationId: deletePspUsdApplicationDocuments
      description: |
        Deletes a PSP-USD application document for the referenced applicationId and documentName. Returns the status of the application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to delete the document from'
          type: integer
        - name: documentName
          in: path
          required: true
          description: 'The name of the document to delete'
          type: string
          enum: ["id_applicant", "bank_statement", "pci_saq_document"]
      responses:
        204:
          description: 'Document deleted successfully'
        400:
          description: 'Invalid document id or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Document not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
        500:
          description: 'Unexpected error or application not found'

# GW CDN WORKFLOW
  '/workflows/gw-cdn/applications':
    post:
      tags:
        - Gateway application (GW-CDN)
      operationId: createGwCdnApplication
      description: |
        Creates a new GW-CDN application. The state of the application will be returned in a successful request. The response will include an application id that should be used for all future requests to that application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: application
          in: body
          description: 'GW-CDN application details'
          required: true
          schema:
            $ref: '#/definitions/GwCdnApplicationRequest'
      responses:
        201:
          description: 'Application created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Gateway application (GW-CDN)
      operationId: getGwCdnApplications
      description: |
        Retrieves all applications referenced by the given criteria URL encoded in the query string.

          - state
            - *Accepted values are "in\_progress", "in\_review", "on\_hold", "approved" and "rejected"*
          - pricing\_id
          - company\_name\_contains
          - applicant\_first\_name\_contains
          - business\_country
          - applicant\_first\_name

        Documents file data will be excluded to limit the amount of data on the wire.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: state
          in: query
          description: 'Application state to search for'
          required: false
          type: string
        - name: pricing_id
          in: query
          description: 'Pricing id to search for'
          required: false
          type: string
        - name: company_name_contains
          in: query
          description: 'Company name contains'
          required: false
          type: string
        - name: applicant_first_name_contains
          in: query
          description: 'Applicant first name contains'
          required: false
          type: string
        - name: business_country
          in: query
          description: 'Company country'
          required: false
          type: string
        - name: applicant_first_name
          in: query
          description: 'Applicant first name'
          required: false
          type: string
      responses:
        200:
          description: 'Application(s) retrieved'
          schema:
           type: array
           items:
            $ref: '#/definitions/GwCdnApplicationRequest'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/gw-cdn/applications/{applicationId}':
    put:
      tags:
        - Gateway application (GW-CDN)
      operationId: updateGwCdnApplication
      description: |
        Updates a GW-CDN application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to update'
          type: integer
        - name: document
          in: body
          description: 'Application details'
          required: true
          schema:
            $ref: '#/definitions/GwCdnApplicationRequest'
      responses:
        200:
          description: 'Application updated'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Gateway application (GW-CDN)
      operationId: getGwCdnApplication
      description: |
        Retrieves a GW-CDN application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to retrieve'
          type: string
      responses:
        200:
          description: 'Application retrieved'
          schema:
            $ref: '#/definitions/GwCdnApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
# GW USA WORKFLOW
  '/workflows/gw-usa/applications':
    post:
      tags:
        - Gateway application (GW-USA)
      operationId: createGwUsaApplication
      description: |
        Creates a new GW-USA application. The state of the application will be returned in a successful request. The response will include an application id that should be used for all future requests to that application.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: application
          in: body
          description: 'GW-USA application details'
          required: true
          schema:
            $ref: '#/definitions/GwUsaApplicationRequest'
      responses:
        201:
          description: 'Application created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Gateway application (GW-USA)
      operationId: getGwUsaApplications
      description: |
        Retrieves all applications referenced by the given criteria URL encoded in the query string.

          - state
            - *Accepted values are "in\_progress", "in\_review", "on\_hold", "approved" and "rejected"*
          - pricing\_id
          - company\_name\_contains
          - applicant\_first\_name\_contains
          - business\_country
          - applicant\_first\_name

        Documents file data will be excluded to limit the amount of data on the wire.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: state
          in: query
          description: 'Application state to search for'
          required: false
          type: string
        - name: pricing_id
          in: query
          description: 'Pricing id to search for'
          required: false
          type: string
        - name: company_name_contains
          in: query
          description: 'Company name contains'
          required: false
          type: string
        - name: applicant_first_name_contains
          in: query
          description: 'Applicant first name contains'
          required: false
          type: string
        - name: business_country
          in: query
          description: 'Company country'
          required: false
          type: string
        - name: applicant_first_name
          in: query
          description: 'Applicant first name'
          required: false
          type: string
      responses:
        200:
          description: 'Application(s) retrieved'
          schema:
           type: array
           items:
            $ref: '#/definitions/GwUsaApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
  '/workflows/gw-usa/applications/{applicationId}':
    put:
      tags:
        - Gateway application (GW-USA)
      operationId: updateGwUsaApplication
      description: |
        Updates a GW-USA application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to update'
          type: integer
        - name: document
          in: body
          description: 'GW-USA application details'
          required: true
          schema:
            $ref: '#/definitions/GwUsaApplicationRequest'
      responses:
        200:
          description: 'Application updated'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request or invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
    get:
      tags:
        - Gateway application (GW-USA)
      operationId: getGwUsaApplication
      description: |
        Retrieves a GW-USA application referenced by the given applicationId.
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to retrieve'
          type: string
      responses:
        200:
          description: 'Application retrieved'
          schema:
            $ref: '#/definitions/GwUsaApplicationResponse'
        400:
          description: 'Invalid api version'
          schema:
            $ref: '#/definitions/CombinedErrorResponse'
        403:
          description: 'Unauthorized'
          schema:
            $ref: '#/definitions/ErrorResponse'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/ErrorResponse'
# PSP NZD WORKFLOW
  '/workflows/psp-nz/applications':
    post:
      tags:
        - Credit Card Payments (PSP NZD)
      operationId: createPspNzdPspApplication
      description: 'Creates a new New Zealand PSP application. The status of the application will be returned in the status object. A Location header that points to the URL of the new resource will be available in the response. The Location header has an application id that should be used for all future requests to that application.'
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: application
          in: body
          description: 'Application details'
          required: true
          schema:
            $ref: '#/definitions/PspNzdApplication'
      responses:
        201:
          description: 'Application created'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request'
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        500:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

    get:
      tags:
        - Credit Card Payments (PSP NZD)
      operationId: getPspNzdApplications
      description: |
        Retrieves all New Zealand PSP applications referenced by the given criteria in the url. A search criteria can be a combination of the following:

           - state={state}
            - *Accepted values are "in\_progress", "in\_review", "on\_hold", "approved" and "rejected"*
           - created_before={date}
           - created_after={date}
           - updated_before={date}
           - updated_after={date}

        Documents file data will be excluded to limit the amount of data on the wire.
      produces:
        - application/json
      security:
        - api_key: []
      responses:
        200:
          description: 'Application(s) retrieved'
          schema:
           type: array
           items:
              $ref: '#/definitions/PspNzdApplication'
        400:
          description: 'Invalid request'
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        404:
          description: 'Applications not found'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'
  '/workflows/psp-nz/applications/{applicationId}':
    put:
      tags:
        - Credit Card Payments (PSP NZD)
      operationId: updatePspNzdApplication
      description: 'Updates a New Zealand PSP application referenced by the given applicationId.'
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to update'
          type: integer
        - name: document
          in: body
          description: 'Application details'
          required: true
          schema:
            $ref: '#/definitions/PspNzdApplication'
      responses:
        200:
          description: 'Application Updated.'
          schema:
            $ref: '#/definitions/ApplicationResponse'
        400:
          description: 'Invalid request'
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

    get:
      tags:
        - Credit Card Payments (PSP NZD)
      operationId: getPspNzdApplication
      description: 'Retrieves a New Zealand PSP application referenced by the given applicationId.'
      produces:
        - application/json
      security:
        - api_key: []
      parameters:
        - name: applicationId
          in: path
          required: true
          description: 'The id of the application to retrieve'
          type: string
      responses:
        200:
          description: 'Application retrieved'
          schema:
            $ref: '#/definitions/PspNzdApplication'
        400:
          description: 'Invalid request'
          schema:
            type: array
            items:
              $ref: '#/definitions/Error'
        404:
          description: 'Application not found'
          schema:
            $ref: '#/definitions/Error'
        500:
          description: 'Unexpected error'
          schema:
            $ref: '#/definitions/Error'

definitions:
  EftCadApplicationRequest:
    description: 'Defines an EFT-CAD application request'
    additionalProperties: false
    type: object
    required:
      - applicant
      - business
      - pricing_id
    properties:
      pricing_id:
        type: string
        maxLength: 32
        description: 'The identifier for the pricing package associated with an application'
      applicant:
        $ref: '#/definitions/EftCadApplicant'
      business:
        $ref: '#/definitions/EftCadBusiness'

  EftCadApplicationResponse:
    description: 'Defines an EFT-CAD application response'
    additionalProperties: false
    type: object
    properties:
      id:
        type: integer
        description: 'The identifier for the application'
      url:
        type: string
        description: 'The URL of the application'
      type:
        type: string
        description: 'The workflow that the application is associated with'
      api_version:
        type: string
        description: 'The API version that the application was created with'
      merchant_id:
        type: integer
        description: 'This merchant identifier is populated when the application is approved and a merchant account has been associated. This field will not be present if a merchant id has not been created.'
      pricing_id:
        type: string
        description: 'The identifier for the pricing package associated with an application'
      partner_username:
        type: string
        description: 'The username of the partner the application is associated with'
      pricing_package:
        $ref: '#/definitions/PricingPackage'
      status:
        $ref: '#/definitions/ApplicationStatus'
      applicant:
        $ref: '#/definitions/EftCadApplicant'
      business:
        $ref: '#/definitions/EftCadBusiness'

  AchUsdApplicationRequest:
    description: 'Defines an ACH-USD application request'
    additionalProperties: false
    type: object
    required:
      - applicant
      - business
      - pricing_id
    properties:
      pricing_id:
        type: string
        maxLength: 32
        description: 'The identifier for the pricing package associated with an application'
      applicant:
        $ref: '#/definitions/Applicant'
      business:
        $ref: '#/definitions/AchUsdBusiness'

  AchUsdApplicationResponse:
    description: 'Defines an ACH-USD application response'
    additionalProperties: false
    type: object
    properties:
      id:
        type: integer
        description: 'The identifier for the application'
      url:
        type: string
        description: 'The URL of the application'
      type:
        type: string
        description: 'The workflow that the application is associated with'
      api_version:
        type: string
        description: 'The API version that the application was created with'
      merchant_id:
        type: integer
        description: 'This merchant identifier is populated when the application is approved and a merchant account has been associated. This field will not be present if a merchant id has not been created.'
      pricing_id:
        type: string
        description: 'The identifier for the pricing package associated with an application'
      partner_username:
        type: string
        description: 'The username of the partner the application is associated with'
      pricing_package:
        $ref: '#/definitions/PricingPackage'
      status:
        $ref: '#/definitions/ApplicationStatus'
      applicant:
        $ref: '#/definitions/Applicant'
      business:
        $ref: '#/definitions/AchUsdBusiness'

  SepaEurApplicationRequest:
    description: 'Defines a SEPA-EUR application request'
    additionalProperties: false
    type: object
    required:
      - applicant
      - business
      - pricing_id
    properties:
      pricing_id:
        type: string
        maxLength: 32
        description: 'The reference number for the pricing package associated with an application'
      applicant:
        $ref: '#/definitions/Applicant'
      business:
        $ref: '#/definitions/SepaEurBusiness'

  SepaEurApplicationResponse:
    description: 'Defines a SEPA-EUR application response'
    type: object
    properties:
      id:
        type: integer
        description: 'The identifier for the application'
      url:
        type: string
        description: 'The URL of the application'
      type:
        type: string
        description: 'The workflow that the application is associated with'
      api_version:
        type: string
        description: 'The API version that the application was created with'
      merchant_id:
        type: integer
        description: 'This merchant identifier is populated when the application is approved and a merchant account has been associated. This field will not be present if a merchant id has not been created.'
      pricing_id:
        type: string
        description: 'The identifier for the pricing package associated with an application'
      partner_username:
        type: string
        description: 'The username of the partner the application is associated with'
      pricing_package:
        $ref: '#/definitions/PricingPackage'
      status:
        $ref: '#/definitions/ApplicationStatus'
      applicant:
        $ref: '#/definitions/Applicant'
      business:
        $ref: '#/definitions/SepaEurBusiness'

  BacsGbpApplicationRequest:
    description: 'Defines a BACS-GBP application request'
    additionalProperties: false
    type: object
    required:
      - applicant
      - business
      - pricing_id
    properties:
      pricing_id:
        type: string
        maxLength: 32
        description: 'The identifier for the pricing package associated with an application'
      applicant:
        $ref: '#/definitions/Applicant'
      business:
        $ref: '#/definitions/BacsGbpBusiness'

  BacsGbpApplicationResponse:
    description: 'Defines a BACS-GBP application response'
    type: object
    properties:
      id:
        type: integer
        description: 'The identifier for the application'
      url:
        type: string
        description: 'The URL of the application'
      type:
        type: string
        description: 'The workflow that the application is associated with'
      api_version:
        type: string
        description: 'The API version that the application was created with'
      merchant_id:
        type: integer
        description: 'This merchant identifier is populated when the application is approved and a merchant account has been associated. This field will not be present if a merchant id has not been created.'
      pricing_id:
        type: string
        description: 'The identifier for the pricing package associated with an application'
      pricing_package:
        $ref: '#/definitions/PricingPackage'
      partner_username:
        type: string
        description: 'The username of the partner the application is associated with'
      status:
        $ref: '#/definitions/ApplicationStatus'
      applicant:
        $ref: '#/definitions/Applicant'
      business:
        $ref: '#/definitions/BacsGbpBusiness'

  PspCadApplicationRequest:
    description: 'Defines a PSP-CAD application request'
    additionalProperties: false
    type: object
    required:
      - applicant
      - business
      - pricing_id
    properties:
      pricing_id:
        type: string
        maxLength: 32
        description: 'The identifier for the pricing package associated with an application'
      applicant:
        $ref: '#/definitions/PspCadApplicant'
      business:
        $ref: '#/definitions/PspCadBusiness'

  PspCadApplicationResponse:
    description: 'Defines a PSP-CAD application response'
    additionalProperties: false
    type: object
    properties:
      id:
        type: integer
        description: 'The identifier for the application'
      url:
        type: string
        description: 'The URL of the application'
      type:
        type: string
        description: 'The workflow that the application is associated with'
      api_version:
        type: string
        description: 'The API version that the application was created with'
      merchant_id:
        type: integer
        description: 'This merchant identifier is populated when the application is approved and a merchant account has been associated. This field will not be present if a merchant id has not been created.'
      pricing_id:
        type: string
        description: 'The identifier for the pricing package associated with an application'
      pricing_package:
        $ref: '#/definitions/PricingPackage'
      partner_username:
        type: string
        description: 'The username of the partner the application is associated with'
      status:
        $ref: '#/definitions/ApplicationStatus'
      applicant:
        $ref: '#/definitions/PspCadApplicant'
      business:
        $ref: '#/definitions/PspCadBusiness'
      merchant_creation_status:
        $ref: '#/definitions/MerchantCreationStatus'

  PspUsdApplicationRequest:
    description: 'Defines a PSP-USD application request'
    additionalProperties: false
    type: object
    required:
      - applicant
      - business
      - pricing_id
    properties:
      pricing_id:
        type: string
        maxLength: 32
        description: 'The identifier for the pricing package associated with an application'
      applicant:
        $ref: '#/definitions/PspUsdApplicant'
      business:
        $ref: '#/definitions/PspUsdBusiness'

  PspUsdApplicationResponse:
    description: 'Defines a PSP-USD application response'
    additionalProperties: false
    type: object
    properties:
      id:
        type: integer
        description: 'The identifier for the application'
      url:
        type: string
        description: 'The URL of the application'
      type:
        type: string
        description: 'The workflow that the application is associated with'
      api_version:
        type: string
        description: 'The API version that the application was created with'
      merchant_id:
        type: integer
        description: 'This merchant identifier is populated when the application is approved and a merchant account has been associated. This field will not be present if a merchant id has not been created.'
      pricing_id:
        type: string
        description: 'The identifier for the pricing package associated with an application'
      pricing_package:
        $ref: '#/definitions/PricingPackage'
      partner_username:
        type: string
        description: 'The username of the partner the application is associated with'
      status:
        $ref: '#/definitions/ApplicationStatus'
      applicant:
        $ref: '#/definitions/PspUsdApplicant'
      business:
        $ref: '#/definitions/PspUsdBusiness'
      merchant_creation_status:
        $ref: '#/definitions/MerchantCreationStatus'

  GwCdnApplicationRequest:
    description: 'Defines a GW-CDN application request'
    additionalProperties: false
    type: object
    required:
      - applicant
      - business
      - pricing_id
    properties:
      pricing_id:
        type: string
        maxLength: 32
        description: 'The identifier for the pricing package associated with an application'
      applicant:
        $ref: '#/definitions/Applicant'
      business:
        $ref: '#/definitions/GwCdnBusiness'
      terminal:
        $ref: '#/definitions/GwCdnTerminal'

  GwCdnApplicationResponse:
    description: 'Defines a GW-USA application'
    additionalProperties: false
    type: object
    properties:
      id:
        type: integer
        description: 'The identifier for the application'
      url:
        type: string
        description: 'The URL of the application'
      type:
        type: string
        description: 'The workflow that the application is associated with'
      api_version:
        type: string
        description: 'The API version that the application was created with'
      merchant_id:
        type: integer
        description: 'This merchant identifier is populated when the application is approved and a merchant account has been associated. This field will not be present if a merchant id has not been created.'
      pricing_id:
        type: string
        description: 'The identifier for the pricing package associated with an application'
      pricing_package:
        $ref: '#/definitions/PricingPackage'
      partner_username:
        type: string
        description: 'The username of the partner the application is associated with'
      status:
        $ref: '#/definitions/ApplicationStatus'
      applicant:
        $ref: '#/definitions/Applicant'
      business:
        $ref: '#/definitions/GwCdnBusiness'
      terminal:
        $ref: '#/definitions/GwCdnTerminal'
      merchant_creation_status:
        $ref: '#/definitions/MerchantCreationStatus'

  GwUsaApplicationRequest:
    description: 'Defines a GW-USA application request'
    additionalProperties: false
    type: object
    required:
      - applicant
      - business
      - pricing_id
    properties:
      pricing_id:
        type: string
        maxLength: 32
        description: 'The identifier for the pricing package associated with an application'
      applicant:
        $ref: '#/definitions/Applicant'
      business:
        $ref: '#/definitions/GwUsaBusiness'
      terminal:
        $ref: '#/definitions/GwUsaTerminal'

  GwUsaApplicationResponse:
    description: 'Defines a GW-USA application'
    additionalProperties: false
    type: object
    properties:
      id:
        type: integer
        description: 'The identifier for the application'
      url:
        type: string
        description: 'The URL of the application'
      type:
        type: string
        description: 'The workflow that the application is associated with'
      api_version:
        type: string
        description: 'The API version that the application was created with'
      merchant_id:
        type: integer
        description: 'This merchant identifier is populated when the application is approved and a merchant account has been associated. This field will not be present if a merchant id has not been created.'
      pricing_id:
        type: string
        description: 'The identifier for the pricing package associated with an application'
      pricing_package:
        $ref: '#/definitions/PricingPackage'
      partner_username:
        type: string
        description: 'The username of the partner the application is associated with'
      status:
        $ref: '#/definitions/ApplicationStatus'
      applicant:
        $ref: '#/definitions/Applicant'
      business:
        $ref: '#/definitions/GwUsaBusiness'
      terminal:
        $ref: '#/definitions/GwUsaTerminal'
      merchant_creation_status:
        $ref: '#/definitions/MerchantCreationStatus'

  PspNzdApplication:
    description: 'Defines a PSP New Zealander application'
    additionalProperties: false
    type: object
    required:
      - applicant
      - business
    properties:
      id:
        type: integer
        format: int32
        description: 'This application identifier is used to identify an application. [ReadOnly]'
      merchant_id:
        type: integer
        description: 'This merchant identifier is populated when the application is approved and a merchant account has been associated. [ReadOnly]'
      status:
        $ref: '#/definitions/ApplicationResponse'
      applicant:
        $ref: '#/definitions/PspNzdApplicant'
      business:
        $ref: '#/definitions/PspNzdBusiness'

  GwCdnBusiness:
    description: 'The details of an Gateway Canadian business'
    additionalProperties: false
    type: object
    required:
      - company_name
      - address
      - bank_account
    properties:
      company_name:
        type: string
        maxLength: 64
      merchant_category:
        description: 'This is the 4 digit merchant category code'
        type: string
        minLength: 4
        maxLength: 4
      website_url:
        type: string
        maxLength: 128
        format: 'uri'
      address:
        $ref: '#/definitions/Address'
      bank_account:
        $ref: '#/definitions/CanadianBankAccount'

  GwUsaBusiness:
    description: 'The details of an Gateway US business'
    additionalProperties: false
    type: object
    required:
      - company_name
      - address
      - bank_account
    properties:
      company_name:
        type: string
        maxLength: 64
      merchant_category:
        description: 'This is the 4 digit merchant category code'
        type: string
        minLength: 4
        maxLength: 4
      website_url:
        type: string
        maxLength: 128
        format: 'uri'
      address:
        $ref: '#/definitions/Address'
      bank_account:
        $ref: '#/definitions/AmericanBankAccount'

  GwCdnTerminal:
    description: 'The details for the terminal of a gateway application'
    additionalProperties: false
    type: object
    required:
      - terminal_type
    properties:
      terminal_type:
        type: string
        description: 'This is type of terminal'
        enum: ["td","first_data_nashville","chase_paymentech","tsys","global","elavon","moneris"]
      td_terminal:
        $ref: '#/definitions/TdTerminal'
      first_data_nashville_terminal:
        $ref: '#/definitions/FirstDataNashvilleTerminal'
      chase_paymentech_terminal:
        $ref: '#/definitions/ChasePaymentechTerminal'
      tsys_terminal:
        $ref: '#/definitions/TsysTerminal'
      global_terminal:
        $ref: '#/definitions/GlobalTerminal'
      elavon_terminal:
        $ref: '#/definitions/ElavonTerminal'
      moneris_terminal:
        $ref: '#/definitions/MonerisTerminal'

  GwUsaTerminal:
    description: 'The details for the terminal of a gateway application'
    additionalProperties: false
    type: object
    required:
      - terminal_type
    properties:
      terminal_type:
        type: string
        description: 'This is type of terminal'
        enum: ["first_data_nashville","chase_paymentech","tsys","global","elavon","moneris"]
      first_data_nashville_terminal:
        $ref: '#/definitions/FirstDataNashvilleTerminal'
      chase_paymentech_terminal:
        $ref: '#/definitions/ChasePaymentechTerminal'
      tsys_terminal:
        $ref: '#/definitions/TsysTerminal'
      global_terminal:
        $ref: '#/definitions/GlobalTerminal'
      elavon_terminal:
        $ref: '#/definitions/ElavonTerminal'


  TdTerminal:
    type: object
    description: 'TD terminal'
    additionalProperties: false
    properties:
      terminal_number:
        type: string
        minLength: 12
        maxLength: 12
      visa_number:
        type: string
        minLength: 8
        maxLength: 8
      mc_number:
        type: string
        minLength: 8
        maxLength: 8

  FirstDataNashvilleTerminal:
    type: object
    description: 'First Data Nashville terminal'
    additionalProperties: false
    properties:
      merchant_id:
        type: string
        minLength: 7
        maxLength: 7
      terminal_number:
        type: string
        minLength: 6
        maxLength: 8
      visa_number:
        type: string
        minLength: 11
        maxLength: 11
      mc_number:
        type: string
        minLength: 11
        maxLength: 11
      discover_merchant_id:
        type: string
        minLength: 15
        maxLength: 15
      amex_merchant_id:
        type: string
        minLength: 10
        maxLength: 10

  ChasePaymentechTerminal:
    type: object
    description: 'Chase Paymentech terminal'
    additionalProperties: false
    properties:
      client_number:
        type: string
        minLength: 4
        maxLength: 4
      merchant_number:
        type: string
        minLength: 12
        maxLength: 12
      terminal_number:
        type: string
        minLength: 3
        maxLength: 3
      net_connect_user_id:
        type: string
        minLength: 6
        maxLength: 32
      net_connect_pw:
        type: string
        minLength: 6
        maxLength: 32
      visa_number:
        type: string
        minLength: 7
        maxLength: 12
      mc_number:
        type: string
        minLength: 7
        maxLength: 12

  TsysTerminal:
    type: object
    description: 'TSYS terminal'
    additionalProperties: false
    properties:
      acquirer_bin:
        type: string
        minLength: 6
        maxLength: 6
      agent_bank_number:
        type: string
        minLength: 6
        maxLength: 6
      agent_chain_number:
        type: string
        minLength: 6
        maxLength: 6
      merchant_number:
        type: string
        minLength: 12
        maxLength: 12
      store_number:
        type: string
        minLength: 4
        maxLength: 4
      terminal_number:
        type: string
        minLength: 4
        maxLength: 4
      terminal_id:
        type: string
        minLength: 8
        maxLength: 8
      visa_number:
        type: string
        minLength: 11
        maxLength: 12
      mc_number:
        type: string
        minLength: 11
        maxLength: 12

  GlobalTerminal:
    type: object
    description: 'Global terminal'
    additionalProperties: false
    properties:
      terminal_id:
        type: string
        minLength: 11
        maxLength: 11
      bin_number:
        type: string
        minLength: 6
        maxLength: 6
      visa_number:
        type: string
        minLength: 11
        maxLength: 12
      mc_number:
        type: string
        minLength: 11
        maxLength: 12

  ElavonTerminal:
    type: object
    description: 'Elavon terminal'
    additionalProperties: false
    properties:
      bank_number:
        type: string
        minLength: 6
        maxLength: 6
      terminal_id:
        type: string
        minLength: 16
        maxLength: 16
      visa_number:
        type: string
        minLength: 8
        maxLength: 12
      mc_number:
        type: string
        minLength: 8
        maxLength: 12

  MonerisTerminal:
    type: object
    description: 'Moneris terminal'
    additionalProperties: false

  Applicant:
    description: 'The individual completing the application'
    additionalProperties: false
    type: object
    required:
      - first_name
      - last_name
      - phone_number
      - agreement
      - email
    properties:
      first_name:
        type: string
        maxLength: 64
      last_name:
        type: string
        maxLength: 64
      phone_number:
        type: string
        maxLength: 15
      agreement:
        $ref: '#/definitions/Agreement'
      email:
        type: string
        maxLength: 500

  EftCadApplicant:
    description: 'The individual completing the application'
    additionalProperties: false
    type: object
    required:
      - first_name
      - last_name
      - phone_number
      - agreement
      - email
      - date_of_birth
    properties:
      first_name:
        type: string
        maxLength: 64
      last_name:
        type: string
        maxLength: 64
      phone_number:
        type: string
        maxLength: 15
      date_of_birth:
        type: string
        format: date-time
        description: 'Defines the birthday in ISO 8601 format with a timezone'
      agreement:
        $ref: '#/definitions/Agreement'
      email:
        type: string
        maxLength: 500

  PspCadApplicant:
    description: 'The individual completing the application'
    additionalProperties: false
    type: object
    required:
      - first_name
      - last_name
      - phone_number
      - date_of_birth
      - address
      - agreement
      - email
    properties:
      first_name:
        type: string
        maxLength: 64
      last_name:
        type: string
        maxLength: 64
      social_insurance_number:
        type: string
        description: "This is the social insurance number"
        maxLength: 9
      date_of_birth:
        type: string
        format: date-time
        description: 'Defines the birthday in ISO 8601 format with a timezone'
      resided_over_years:
        type: boolean
        description: "This is used to determine if the applicant has resided at this address for at last 2 years"
      phone_number:
        type: string
        maxLength: 15
      agreement:
        $ref: '#/definitions/Agreement'
      address:
        $ref: '#/definitions/Address'
      email:
        type: string
        maxLength: 500

  PspUsdApplicant:
    description: 'The individual completing the application'
    additionalProperties: false
    type: object
    required:
      - social_security_number
      - first_name
      - last_name
      - phone_number
      - date_of_birth
      - citizenship
      - address
      - agreement
      - position
      - email
    properties:
      first_name:
        type: string
        maxLength: 20
      last_name:
        type: string
        maxLength: 20
      social_security_number:
        type: string
        description: "This is the social security number"
        pattern: '^\d{3}-?\d{2}-?\d{4}$'
      date_of_birth:
        type: string
        format: date-time
        description: 'Defines the birthday in ISO 8601 format with a timezone'
      citizenship:
        type: string
        description: "Valid ISO 3166-1 country code"
        enum: ["AD", "AE", "AF", "AG", "AI", "AL", "AM", "AO", "AQ", "AR", "AS", "AT", "AU", "AW", "AX", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BL", "BM", "BN", "BO", "BQ", "BR", "BS", "BT", "BV", "BW", "BY", "BZ", "CA", "CC", "CD", "CF", "CG", "CH", "CI", "CK", "CL", "CM", "CN", "CO", "CR", "CU", "CV", "CW", "CX", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "EH", "ER", "ES", "ET", "FI", "FJ", "FK", "FM", "FO", "FR", "GA", "GB", "GD", "GE", "GF", "GG", "GH", "GI", "GL", "GM", "GN", "GP", "GQ", "GR", "GS", "GT", "GU", "GW", "GY", "HK", "HM", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IM", "IN", "IO", "IQ", "IR", "IS", "IT", "JE", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KP", "KR", "KW", "KY", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MF", "MG", "MH", "MK", "ML", "MM", "MN", "MO", "MP", "MQ", "MR", "MS", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NC", "NE", "NF", "NG", "NI", "NL", "NO", "NP", "NR", "NU", "NZ", "OM", "PA", "PE", "PF", "PG", "PH", "PK", "PL", "PM", "PN", "PR", "PS", "PT", "PW", "PY", "QA", "RE", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SD", "SE", "SG", "SH", "SI", "SJ", "SK", "SL", "SM", "SN", "SO", "SR", "SS", "ST", "SV", "SX", "SY", "SZ", "TC", "TD", "TF", "TG", "TH", "TJ", "TK", "TL", "TM", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "UM", "US", "UY", "UZ", "VA", "VC", "VE", "VG", "VI", "VN", "VU", "WF", "WS", "YE", "YT", "ZA", "ZM", "ZW"]
      phone_number:
        type: string
        pattern: '^\d{1,20}$'
      position:
        type: string
        description: "The position of the applicant"
        enum: ["owner","co_owner","president","legal_contact","secretary_treasurer","partner","general_manager","administrator","vice_president","director","ceo","corporate_officer","principal","cfo","coo"]
      agreement:
        $ref: '#/definitions/Agreement'
      address:
        $ref: '#/definitions/PspUsdAddress'
      email:
        type: string
        maxLength: 70

  PspNzdApplicant:
    description: 'The individual completing the application'
    additionalProperties: false
    type: object
    required:
      - first_name
      - last_name
      - email
    properties:
      title:
        type: string
        maxLength: 4
        enum: ["Mr","Miss","Ms","Mrs","Mx"]
      first_name:
        type: string
        maxLength: 64
      last_name:
        type: string
        maxLength: 64
      date_of_birth:
        type: string
        format: date-time
        description: 'Defines the birthday in ISO 8601 format with a timezone'
      agreement:
        $ref: '#/definitions/Agreement'
      address:
        $ref: '#/definitions/Address'
      email:
        type: string
        maxLength: 500

  EftCadBusiness:
    description: 'The details of an EFT-CAD business'
    additionalProperties: false
    type: object
    required:
      - company_name
      - annual_sales
      - entity_type
      - start_date
      - dba_name
      - bank_account
      - batch_settings
      - address
      - services_description
    properties:
[...]
